/* --------------------------------------------- universal css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

/* ----------------------------------------------- common css style */
.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    border: 1px solid #469165;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #469165;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.btn-secondary {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* -------------------------------------------------------- header */
.header {
    width: 100%;
    padding: 16px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .logo-box {
    width: 140px;
}

.header-content .logo-box .logo {
    width: 100%;
}

.header-content .nav-content .navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-content .nav-content .navbar .nav-items .nav-list {
    font-weight: 500;
    font-size: 16px;
}

.header-content .nav-content .navbar .nav-items .nav-list .nav-link {
    color: #000000;
}

/* ------------------------------------------------------- main */
/* home section ---------------------------------- */
#home-section {
    width: 100%;
}

.home-container {
    width: 100%;
    min-height: 675px;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 115px;
}

.home-content {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-content .tag-box {
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.home-content .tag-box .para-text {
    font-weight: 500;
    font-size: 16px;
    color: #469165;
}

.home-content .heading-box {
    text-align: center;
    margin-bottom: 16px;
}

.home-content .heading-box .home-heading {
    font-weight: 700;
    font-size: 72px;
    color: #ffffff;
}

.home-content .heading-box .home-heading .text-color {
    color: #469165;
    text-transform: capitalize;
}

.home-content .para-box {
    text-align: center;
    margin-bottom: 32px;
}

.home-content .para-box .home-para {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    line-height: 32px;
}

.home-content .btn-box {
    display: flex;
    gap: 16px;
}

/* note section -------------------------------- */
#note-section {
    width: 100%;
}

.note-content {
    padding-top: 75px;
}

.note-content .heading-content {
    text-align: center;
    margin-bottom: 44px;
}

.note-content .heading-content .note-heading {
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.note-content .heading-content .note-para {
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}

.note-content .note-card-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.note-content .note-card-content .note-card {
    width: 322px;
    height: 300px;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
}

.note-content .note-card-content .note-card .note-card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.note-content .note-card-content .note-card .note-card-box .icon-box {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 16px;
}

.note-content .note-card-content .note-card .note-card-box .text-box .card-text {
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.note-content .note-card-content .note-card .note-card-box .text-box .card-text-para {
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}

/* solution section ---------------------------- */
#solution-section {
    width: 100%;
}

.solution-content {
    padding: 120px 0;
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-content .right-content {
    width: 600px;
    height: 600px;
}

.solution-content .left-content .small-heading-text {
    font-weight: 500;
    font-size: 16px;
    color: #469165;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.solution-content .left-content .solution-heading {
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-content .left-content .solution-para {
    width: 520px;
    font-weight: 400;
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-content .left-content .todo-box .todo-text {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
}

/* subscribe section --------------------------- */